<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/common/datatables.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/order/home'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/datatables.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/datatables-util'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/order/home'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Orders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-clipboard-list"></i>
                            Orders
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <form id="orderForm">
                    <div class="row">
                        <div class="col-5">
                            <input class="form-control form-control-sm" id="keyword" placeholder="keyword ..." type="text">
                        </div>
                        <div class="col-3" th:if="${isAdmin == 'true'}">
                            <select class="form-control selectpicker show-tick" data-live-search="true"  id="userId"  title="Select ...">
                            </select>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-flat btn-primary" id="btnSearch" type="button">
                                <i class="fas fa-search"></i> Search
                            </button>
                            <button class="btn btn-flat btn-warning" id="btnReset" type="button">
                                <i class="fas fa-recycle"></i> Reset
                            </button>
                            <a class="btn btn-secondary float-right btn-flat" role="button" th:href="@{/orders/add}" th:if="${orderAdd == true}">
                                <i class="fas fa-plus"></i> Add New
                            </a>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="tblOrder">
                    <thead>
                    <tr>
                        <th data-sort-key="stockCode">Stock Code</th>
                        <th data-sort-key="quantity">Qty</th>
                        <th data-sort-key="amount">Amount</th>
                        <th data-sort-key="totalAmount">Total Amount</th>
                        <th class="functionColumn">Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- /Main content -->

    <!-- Common Delete Confirm modal -->
    <div th:replace="~{/fragments/others/modals :: modal-confirm-delete}"></div>
    <!-- /Common Delete Confirm modal -->
</div>
</html>
