<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/order/input'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/jquery.validate.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/order/input'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Stock Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="fa fa-clipboard-list"></i>
                            <a th:href="@{/orders}">Orders</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${pageMode.name == 'CREATE' ? 'Add New' : 'Edit'}">Add New</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card card-primary smallPanel">
            <div class="card-header">
                <h3 class="card-title text-center float-none">Please fill-up Required Informations</h3>
            </div>
            <form id="frm-order" method="post" role="form" th:action="@{${pageMode.name == 'CREATE' ? '/orders/add' : '/orders/' + order.id +'/edit' }}" th:object="${order}">
                <div class="card-body">
                    <div class="form-group row" th:if="${isAdmin == 'true'}">
                        <label class="col-sm-3 col-form-label text-right required" for="userId">Users : </label>
                        <div class="col-sm-9">
                            <select th:disabled="${pageMode.name == 'EDIT'}" class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="userId" th:attr="data-selected=${order.userId}" th:field="*{userId}" title="Select ...">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="stockCode">Stock Code : </label>
                        <div class="col-sm-9">
                            <select th:disabled="${pageMode.name == 'EDIT'}" class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="stockCode" th:attr="data-selected=${order.stockCode}" th:field="*{stockCode}" title="Select ...">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row"> <!--th:if="${pageMode.name == 'CREATE'}"-->
                        <label class="col-sm-3 col-form-label text-right required" for="availableQty">Available Qty : </label>
                        <div class="col-sm-9">
                            <input disabled="disabled" class="form-control form-control-sm" id="availableQty"  th:field="*{availableQty}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row"> <!--th:if="${pageMode.name == 'CREATE'}">-->
                        <label class="col-sm-3 col-form-label text-right required" for="quantity">Quantity : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="quantity" placeholder="Stock Quantity" th:field="*{quantity}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="amount">Amount : </label>
                        <div class="col-sm-9">
                            <input disabled="disabled" class="form-control form-control-sm" id="amount" placeholder="Amount" th:field="*{amount}"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="totalAmount">Total Amount : </label>
                        <div class="col-sm-9">
                            <input  disabled="disabled" class="form-control form-control-sm" id="totalAmount" placeholder="Total Amount" th:field="*{totalAmount}"/>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-flat mr-1 btn-primary" id="btnSubmit" type="submit">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button class="btn btn-flat mr-1 btn-warning" id="btnReset" type="button">
                        <i class="fas fa-recycle"></i> Reset
                    </button>
                    <button class="btn btn-flat mr-1 btn-danger" id="btnCancel" type="button">
                        <i class="fas fa-undo"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
