<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User Detail Informations</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="fa fa-user-tie"></i>
                            <a th:href="@{/users}">Users</a>
                        </li>
                        <li class="breadcrumb-item active">Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="card card-secondary card-outline smallPanel">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img alt="" class="profile-user-img img-fluid img-circle" th:src="@{/static/images/avatar/guest.jpg}" width="250px"/>
                </div>

                <h4 class="profile-username text-center" th:text="${user.name}"></h4>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Email</b>
                        <a class="float-right" th:text="${user.email}"></a>
                    </li>
                    <li class="list-group-item">
                        <b>Email Notification Status</b>
                        <a class="float-right" th:text="${#strings.toLowerCase(user.status)}"></a>
                    </li>
                    <li class="list-group-item">
                        <b>Currency</b>
                        <a class="float-right" th:text="${user.currency}"></a>
                    </li>
                    <li class="list-group-item">
                        <b>Stock Limit</b>
                        <a class="float-right" th:text="${user.stockLimit}"></a>
                    </li>
                    <!--<li class="list-group-item">
                        <b>Roles</b>
                        <a class="float-right" th:text="${roleNames}"></a>
                    </li>-->
                </ul>
            </div>
        </div>
    </section>
</div>