<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/dashboard/page'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/dashboard/page'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <form id="dashboardForm">
                    <div class="row">
                        <label class="col-sm-1 col-form-label text-right required" for="userId">Users : </label>
                        <div class="col-sm-3">
                            <select class="form-control selectpicker show-tick" data-live-search="true" id="userId" title="Select ...">
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <p class="card-text text-center">
                 <a id="pftMessage"></a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                        <div class="col-lg-3 col-6">

                            <div class="small-box bg-info">
                                <div class="inner">
                                    <h3 id="outOfStockCount">0</h3>
                                    <p>Out of Stocks</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-chart-pie"></i>
                                </div>
                                <a href="#" class="small-box-footer" th:href="@{/stocks}"> More Info  <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6">

                            <div class="small-box bg-success">
                                <div class="inner">
                                    <h3 id="lessStockCount">0</h3>
                                    <p>Less Stocks</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-cubes"></i>
                                </div>
                                <a href="#" class="small-box-footer" th:href="@{/stocks}"> More Info  <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6">

                            <div class="small-box bg-warning">
                                <div class="inner">
                                    <h3 id="todayOrdCount">0</h3>
                                    <p>Today Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clipboard-list"></i>
                                </div>
                                <a href="#" class="small-box-footer" th:href="@{/orders}"> More Info  <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                        <div class="col-lg-3 col-6">

                            <div class="small-box bg-danger">
                                <div class="inner">
                                    <h3 id="curMonthOrdCount">0</h3>
                                    <p>Current Month's Orders</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-clipboard-list"></i>
                                </div>
                                <a href="#" class="small-box-footer" th:href="@{/orders}"> More Info  <i class="fas fa-arrow-circle-right"></i></a>
                            </div>
                        </div>

                <!--</div>-->
            </div>
        </div>
        <!-- Basic card -->
        <!--<div class="card">
            <div class="card-header header-elements-inline">
                <h5 class="card-title">Basic card 1</h5>
                <div class="header-elements">
                    <div class="list-icons">
                        <a class="list-icons-item" data-action="collapse"></a>
                        <a class="list-icons-item" data-action="reload"></a>
                        <a class="list-icons-item" data-action="remove"></a>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <h6 class="font-weight-semibold">Start your development with no hassle!</h6>
                <p class="mb-3">Common problem of templates is that all code is deeply integrated into the core. This limits your freedom in decreasing amount of code, i.e. it becomes pretty difficult to remove unnecessary code from the project. Limitless allows you to remove unnecessary and extra code easily just by removing the path to specific LESS file with component styling. All plugins and their options are also in separate files. Use only components you actually need!</p>

                <h6 class="font-weight-semibold">What is this?</h6>
                <p class="mb-3">Starter kit is a set of pages, useful for developers to start development process from scratch. Each layout includes base components only: layout, page kits, color system which is still optional, bootstrap files and bootstrap overrides. No extra CSS/JS files and markup. CSS files are compiled without any plugins or components. Starter kit was moved to a separate folder for better accessibility.</p>

                <h6 class="font-weight-semibold">How does it work?</h6>
                <p>You open one of the starter pages, add necessary plugins, uncomment paths to files in components.less file, compile new CSS. That's it. I'd also recommend to open one of main pages with functionality you need and copy all paths/JS code from there to your new page, it's just faster and easier.</p>
            </div>
        </div>-->
        <!-- /basic card -->

    </section>
    <!-- /Main content -->

</div>
</html>
