<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/app/dashboard/page'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/app/dashboard/user/page'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Dashboard</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <input type="hidden" th:value="${userId}" id="userId"/>
        <div class="card">
            <div class="card-body">
                <p class="card-text text-center">
                    <a id="pftMessage"></a>
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-body row">
                <div class="col-lg-3 col-6">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3 id="outOfStockCount">0</h3>
                            <p>Out of Stocks</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-chart-pie"></i>
                        </div>
                        <div class="small-box-footer">
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/stockReport/outOfStock?exportType=EXCEL}"><i class="fas fa-file-excel"></i> Excel</a>
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/stockReport/outOfStock?exportType=PDF}"><i class="fas fa-file-pdf"></i> Pdf</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3 id="lessStockCount">0</h3>
                            <p>Less Stocks</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-cubes"></i>
                        </div>
                        <div class="small-box-footer">
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/stockReport/lessOfStock?exportType=EXCEL}"><i class="fas fa-file-excel"></i> Excel</a>
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/stockReport/lessOfStock?exportType=PDF}"><i class="fas fa-file-pdf"></i> Pdf</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3 id="todayOrdCount">0</h3>
                            <p>Today Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="small-box-footer">
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/ordReport/reports?exportType=EXCEL}"><i class="fas fa-file-excel"></i> Excel</a>
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/ordReport/reports?exportType=PDF}"><i class="fas fa-file-pdf"></i> Pdf</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">

                    <div class="small-box bg-danger">
                        <div class="inner">
                            <h3 id="curMonthOrdCount">0</h3>
                            <p>Current Month's Orders</p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-clipboard-list"></i>
                        </div>
                        <div class="small-box-footer">
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/ordReport/reports/month?exportType=EXCEL}"><i class="fas fa-file-excel"></i> Excel</a>
                            <a href="#" class="col-sm-6" style="color:#FFFFFF;text-align:center;" th:href="@{/ordReport/reports/month?exportType=PDF}"><i class="fas fa-file-pdf"></i> Pdf</a>
                        </div>
                    </div>
                </div>

                <!--</div>-->
            </div>
        </div>
    </section>
    <!-- /Main content -->

</div>
</html>
