<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/admin/input'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/jquery.validate.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/admin/input'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Administrator Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="fa fa-user-tie"></i>
                            <a th:href="@{/admins}">Administrators</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${pageMode.name == 'CREATE' ? 'Add New' : 'Edit'}">Add New</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card card-primary smallPanel">
            <div class="card-header">
                <h3 class="card-title text-center float-none">Please fill-up Required Informations</h3>
            </div>
            <form id="frm-administrator" method="post" role="form" th:action="@{${pageMode.name == 'CREATE' ? '/admins/add' : '/admins/' + adminDto.id +'/edit' }}" th:object="${adminDto}">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="name">Name : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="name" placeholder="Full Name" th:field="*{name}" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="loginId">Login ID : </label>
                        <div class="col-sm-9" th:classappend="${pageMode.name == 'EDIT' } ? 'col-form-label' : ''" th:switch="${pageMode.name}">
                            <input class="form-control form-control-sm" id="loginId" placeholder="Enter Login ID" th:case="'CREATE'" th:field="*{loginId}" type="text"/>
                            <span th:case="'EDIT'" th:text="${adminDto.loginId}"></span>
                        </div>
                        <input th:field="*{loginId}" th:if="${pageMode.name == 'EDIT'}" type="hidden">
                    </div>
                    <div class="form-group row" th:if="${pageMode.name == 'CREATE'}">
                        <label class="col-sm-3 col-form-label text-right required" for="password">Password : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="password" placeholder="Enter Administrator Password" th:field="*{password}" type="password"/>
                        </div>
                    </div>
                    <div class="form-group row" th:if="${pageMode.name == 'CREATE'}">
                        <label class="col-sm-3 col-form-label text-right required" for="confirmPassword">Confirm Password : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="confirmPassword" placeholder="Type again Administrator Password" th:field="*{confirmPassword}" type="password"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="roleIds">Roles : </label>
                        <div class="col-sm-9">
                            <select class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="roleIds" multiple="multiple" th:attr="data-selected=${adminDto.roleIds}" th:field="*{roleIds}" title="Select ...">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="status">Status : </label>
                        <div class="col-sm-12 col-md-4">
                            <select class="form-control selectpicker show-tick" id="status" th:field="*{status}">
                                <option value="ACTIVE">Active</option>
                                <option value="TEMPORARY">Temporary</option>
                                <option value="LOCKED">Locked</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-flat mr-1 btn-primary" id="btnSubmit" type="submit">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button class="btn btn-flat mr-1 btn-warning" id="btnReset" type="button">
                        <i class="fas fa-recycle"></i> Reset
                    </button>
                    <button class="btn btn-flat mr-1 btn-danger" id="btnCancel" type="button">
                        <i class="fas fa-undo"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
