<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-3" th:fragment="main-sidebar" xmlns:th="http://www.thymeleaf.org">
    <!-- Brand Logo -->
    <a class="brand-link" th:href="@{/}">
        <img alt="Site Logo" class="brand-image img-circle elevation-3" style="opacity: .8" th:src="@{/static/images/site/logo_white.png}">
        <span class="brand-text font-weight-light" th:text="${appFullName}"></span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar text-sm">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img alt="User Image" class="img-circle elevation-2" th:src="@{/static/images/avatar/guest.jpg}">
            </div>
            <div class="info">
                <a class="d-block" th:href="@{/}" th:text="${#strings.isEmpty(loginUserName)} ? 'Guest' : ${loginUserName}"></a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
                <li class="nav-item" th:if="${dashboard == true}">
                    <a class="nav-link" th:classappend="${pageName == 'Dashboard' } ? 'active' : ''" th:href="@{/dashboard}">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="nav-item" th:if="${adminList == true}">
                    <a class="nav-link" th:classappend="${pageName == 'Administrator' } ? 'active' : ''" th:href="@{/admins}">
                        <i class="nav-icon fas fa-user-tie"></i>
                        <p>Administrators</p>
                    </a>
                </li>

                <li class="nav-item" th:if="${userList == true}">
                    <a class="nav-link" th:classappend="${pageName == 'User' } ? 'active' : ''" th:href="@{/users}">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>Users</p>
                    </a>
                </li>

                <li class="nav-item" th:if="${stockList == true}">
                    <a class="nav-link" th:classappend="${pageName == 'Stock' } ? 'active' : ''" th:href="@{/stocks}">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>Stocks</p>
                    </a>
                </li>

                <li class="nav-item" th:if="${orderList == true}">
                    <a class="nav-link" th:classappend="${pageName == 'Order' } ? 'active' : ''" th:href="@{/orders}">
                        <i class="nav-icon fas fa-clipboard-list"></i>
                        <p>Orders</p>
                    </a>
                </li>

                <li class="nav-item" th:if="${profile == true}">
                    <a class="nav-link" th:classappend="${pageName == 'User' } ? 'active' : ''" th:href="@{/users/profile}">
                        <i class="nav-icon fas fa-person-booth"></i>
                        <p>Profile</p>
                    </a>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
