<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/profile/input'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/jquery.validate.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/profile/input'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card card-primary smallPanel">
            <div class="card-header">
                <h3 class="card-title text-center float-none">Please fill-up Required Informations</h3>
            </div>
            <form id="frm-user" method="post" role="form" th:action="@{${'/users/profile'}}" th:object="${user}">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="name">Name : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="name" placeholder="Full Name" th:field="*{name}" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="name">Email : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="email" placeholder="Email" th:field="*{email}" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="name">Stock Limit : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="stockLimit" placeholder="Stock Limit" th:field="*{stockLimit}" type="text"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="currency">Currency : </label>
                        <div class="col-sm-9">
                            <select class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="currency" th:attr="data-selected=${user.currency}" th:field="*{currency}" title="Select ...">
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="status">Email Noti Status : </label>
                        <div class="col-sm-6">
                            <select class="form-control selectpicker show-tick" id="status" th:field="*{status}">
                                <option value="ON">ON</option>
                                <option value="OFF">OFF</option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <button data-toggle="modal" class="btn btn-secondary" id="changePassword" type="button">Change Password</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-flat mr-1 btn-primary" id="btnSubmit" type="submit">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button class="btn btn-flat mr-1 btn-warning" id="btnReset" type="button">
                        <i class="fas fa-recycle"></i> Reset
                    </button>
                    <button class="btn btn-flat mr-1 btn-danger" id="btnCancel" type="button">
                        <i class="fas fa-undo"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
    <div class="modal fade" id="modal-change-password">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Change Password</h4>
                    <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
                </div>
                <form id="frm-ChangePassword" method="post" role="form" class="form-horizontal">
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right required" for="change_oldPassword">Old Password : </label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" name="change_oldPassword" id="change_oldPassword" placeholder="Enter Old Password" type="password"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right required" for="change_newPassword">Password : </label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" name="change_newPassword" id="change_newPassword" placeholder="Enter New Password" type="password"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label text-right required" for="change_confirmPassword">Confirm Password : </label>
                            <div class="col-sm-9">
                                <input class="form-control form-control-sm" name="change_confirmPassword" id="change_confirmPassword" placeholder="Enter Confirm Password" type="password"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer text-center">
                        <button class="btn btn-primary" id="btn-update-password" type="button">Update</button>
                        <button class="btn btn-danger" data-dismiss="modal" type="button">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>



<!--
<div class="card w-sm-100 w-lg-50" style="margin: 0 auto;">
    <div class="card-body text-center">
        <h6 class="font-weight-semibold mb-2 mt-2">
            ${user.name}
        </h6>
    </div>

    <ul class="nav nav-sidebar">
        <li class="nav-item pt-0">
            <div class="nav-link bg-light">
                <i class="icon-user"></i>
                Personal Informations
                <span class="ml-auto badge badge-indigo badge-pill ml-auto">${user.userType.value}</span>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link">
                <i class="icon-envelop2"></i>
                Email
                <span class="font-size-sm text-success line-height-sm font-weight-normal ml-auto">${user.email}</span>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link">
                <i class="icon-envelop2"></i>
                Currency
                <span class="font-size-sm text-success line-height-sm font-weight-normal ml-auto">${user.currency}</span>
            </div>
        </li>
        <li class="nav-item">
            <div class="nav-link">
                <i class="icon-envelop2"></i>
                Stock Limit
                <span class="font-size-sm text-success line-height-sm font-weight-normal ml-auto">${user.stockLimit}</span>
            </div>
        </li>
    </ul>
    <div class="card-footer border-top text-center">
        <div class="">
            <button class="btn btn-outline-secondary border-transparent mr-0 mr-lg-2" data-toggle="modal" data-target="#modal_edit_profile" type="button"><i class="icon-pencil7 mr-2"></i>Edit Profile</button>
            <button class="btn btn-outline-secondary border-transparent" data-toggle="modal" data-target="#modal_change_password" type="button"><i class="icon-key mr-2"></i>Change Password</button>
        </div>
    </div>
</div>

<div id="modal_edit_profile" class="modal fade" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-user mr-2"></i>Update Account</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <spring:url value="/users/profile" var="submitUrl"/>
            <form:form id="frmProfile" action="${submitUrl}" cssClass="form-horizontal" method="post" modelAttribute="user">
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Name</label>
                        <div class="col-sm-9">
                            <form:input type="text" path="name" id="name" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Email</label>
                        <div class="col-sm-9">
                            <form:input type="text" path="email" id="email" class="form-control"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-form-label col-sm-3">Stock Limit</label>
                        <div class="col-sm-9">
                            <form:input type="text" path="stockLimit" id="stockLimit" class="form-control"/>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-link" type="button" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Cancel</button>
                    <button class="btn btn-primary" type="submit"><i class="icon-checkmark3 font-size-base mr-1"></i> Save Changes</button>
                </div>
            </form:form>
        </div>
    </div>
</div>

<div id="modal_change_password" class="modal fade" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="icon-key mr-2"></i>Update Password</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form id="frmChangePassword" role="form" class="form-horizontal">
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="change_oldPassword" class="col-form-label col-sm-4">Old Password : </label>
                        <div class="col-sm-8">
                            <input name="change_oldPassword" class="form-control" type="password" placeholder="Old Password" id="change_oldPassword"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="change_newPassword" class="col-form-label col-sm-4">New Password : </label>
                        <div class="col-sm-8">
                            <input name="change_newPassword" class="form-control" type="password" placeholder="New Password" id="change_newPassword"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="change_confirmPassword" class="col-form-label col-sm-4">Confirm New Password : </label>
                        <div class="col-sm-8">
                            <input name="change_confirmPassword" class="form-control" type="password" placeholder="Confirm New Password" id="change_confirmPassword"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" type="button" data-dismiss="modal"><i class="icon-cross2 font-size-base mr-1"></i> Cancel</button>
                    <button id="btn-update-password" type="button" class="btn btn-primary"><i class="icon-checkmark3 font-size-base mr-1"></i> Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
-->

