<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/common/datatables.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/stock/home'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/datatables.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/datatables-util'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/stock/home'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Stocks</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <i class="fa fa-cubes"></i>
                            Stocks
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <!-- /Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="card">
            <div class="card-header">
                <form id="stockForm">
                    <div class="row">
                        <div th:classappend="${isAdmin == 'true'} ? col-7 : col-7">
                            <input class="form-control form-control-sm" id="keyword" placeholder="keyword ..." type="text">
                        </div>
                        <div class="col-5">
                            <button class="btn btn-flat btn-primary" id="btnSearch" type="button">
                                <i class="fas fa-search"></i> Search
                            </button>
                            <button class="btn btn-flat btn-warning" id="btnReset" type="button">
                                <i class="fas fa-recycle"></i> Reset
                            </button>
                            <a class="btn btn-secondary float-right btn-flat" role="button" th:href="@{/stocks/add}" th:if="${stockAdd == true}">
                                <i class="fas fa-plus"></i> Add New
                            </a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="form-group row mb-0 col-3" th:if="${isAdmin == 'true'}">
                            <label class="col-sm-3 col-form-label text-right required" for="userId">Users : </label>
                            <select class="form-control selectpicker show-tick col-sm-9" data-live-search="true"  id="userId"  title="Select ...">
                            </select>
                        </div>
                        <div class="form-group row mb-0 col-3" th:if="${isAdmin == 'true'}">
                            <label class="col-sm-4 col-form-label text-right required" for="type">Stock Type : </label>
                            <select class="form-control  selectpicker show-tick col-sm-8" id="type">
                                <option value="all">All</option>
                                <option value="outOfStock">OutOfStock</option>
                                <option value="lessStock">LessStock</option>
                            </select>
                        </div>
                        <div class="form-group row mb-0 col-4">
                            <label id="errorMessage" class="ml-5 col-form-label text-center text-red text-bold"></label>
                        </div>
                    </div>

                </form>
            </div>
            <div class="card-body">
                <table class="table table-bordered" id="tblStock">
                    <thead>
                    <tr>
                        <th data-sort-key="code">Code</th>
                        <th data-sort-key="quantity">Qty</th>
                        <th data-sort-key="originalPrice">Original Price</th>
                        <th data-sort-key="sellPrice">Sell Price</th>
                        <th class="functionColumn">Function</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- /Main content -->

    <!-- Common Delete Confirm modal -->
    <div th:replace="~{/fragments/others/modals :: modal-confirm-delete}"></div>
    <!-- /Common Delete Confirm modal -->
</div>
</html>
