<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Page Styles -->
<div th:fragment="styles" th:remove="tag">
    <link rel="stylesheet" th:href="@{'/static/css/common/bootstrap-select.min.css?v='+${buildNumber}}">
    <link rel="stylesheet" th:href="@{'/static/css/app/stock/input'+ ${isProduction == true ? '.min.css' : '.css'}+'?v='+${buildNumber}}">
</div>
<!-- /Page Styles -->

<!-- Page Scripts -->
<div th:fragment="scripts" th:remove="tag">
    <script th:src="@{'/static/js/common/bootstrap-select.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/common/jquery.validate.min.js?v='+${buildNumber}}"></script>
    <script th:src="@{'/static/js/app/stock/input'+ ${isProduction == true ? '.min.js' : '.js'}+'?v='+${buildNumber}}"></script>
</div>
<!-- /Page Scripts -->

<div class="content-wrapper" th:fragment="content">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Stock Setup</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">
                            <i class="fa fa-home"></i>
                            <a th:href="@{/}">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <i class="fa fa-cubes"></i>
                            <a th:href="@{/stocks}">Stocks</a>
                        </li>
                        <li class="breadcrumb-item active" th:text="${pageMode.name == 'CREATE' ? 'Add New' : 'Edit'}">Add New</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="card card-primary smallPanel">
            <div class="card-header">
                <h3 class="card-title text-center float-none">Please fill-up Required Informations</h3>
            </div>
            <form id="frm-stock" method="post" role="form" th:action="@{${pageMode.name == 'CREATE' ? '/stocks/add' : '/stocks/' + stock.id +'/edit' }}" th:object="${stock}">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="code">Code : </label>
                        <div class="col-sm-9" th:classappend="${pageMode.name == 'EDIT' } ? 'col-form-label' : ''" th:switch="${pageMode.name}">
                            <input class="form-control form-control-sm" id="code" placeholder="Code" th:case="'CREATE'" th:field="*{code}" type="text"/>
                            <span th:case="'EDIT'" th:text="${stock.code}"></span>
                        </div>
                        <input th:field="*{code}" th:if="${pageMode.name == 'EDIT'}" type="hidden">
                    </div>
                    <div class="form-group row"> <!--th:if="${pageMode.name == 'CREATE'}">-->
                        <label class="col-sm-3 col-form-label text-right required" for="quantity">Quantity : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="quantity" placeholder="Stock Quantity" th:field="*{quantity}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="originalPrice">Original Price : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="originalPrice" placeholder="Original Price" th:field="*{originalPrice}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right required" for="sellPrice">Sell Price : </label>
                        <div class="col-sm-9">
                            <input class="form-control form-control-sm" id="sellPrice" placeholder="Sell Price" th:field="*{sellPrice}" type="number"/>
                        </div>
                    </div>
                    <div class="form-group row" th:if="${isAdmin == 'true'}">
                        <label class="col-sm-3 col-form-label text-right required" for="userId">Users : </label>
                        <div class="col-sm-9">
                            <select th:disabled="${pageMode.name == 'EDIT'}" class="form-control selectpicker show-tick" data-live-search="true" data-size="5" id="userId" th:attr="data-selected=${stock.userId}" th:field="*{userId}" title="Select ...">
                            </select>
                        </div>
                    </div>

                </div>
                <div class="card-footer text-center">
                    <button class="btn btn-flat mr-1 btn-primary" id="btnSubmit" type="submit">
                        <i class="fas fa-save"></i> Save
                    </button>
                    <button class="btn btn-flat mr-1 btn-warning" id="btnReset" type="button">
                        <i class="fas fa-recycle"></i> Reset
                    </button>
                    <button class="btn btn-flat mr-1 btn-danger" id="btnCancel" type="button">
                        <i class="fas fa-undo"></i> Cancel
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
